<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>컨텐츠관리</title>
    <link rel="stylesheet" href="/css/admin/t-sanitize.css"/>
    <link rel="stylesheet" href="/css/admin/admin.css"/>
    <!-- 아래에 페이지별로 갈아 끼워야할 CSS -->
    <link rel="stylesheet" href="/css/admin/contentsTest.css"/>
</head>
<body>
<header class="page">
    <div class="page-info">
        <img src="/img/icon/menubar.png" alt="icon" class="page-info__icon" />
        <!--        <img src="./img/icon/menubar.png" alt="icon" class="page-info__icon" />-->
        <ul>
            <li class="page-info__detail page-info--current">관리자 홈</li>
        </ul>
    </div>
    <!--    <div class="page-language">-->
    <!--        <img-->
    <!--                src="/img/icon/language.png"-->
    <!--                alt="icon"-->
    <!--                class="page-language__icon"-->
    <!--        />-->
    <!--        <select name="language" id="language__selector">-->
    <!--            <option value="KR">&#127472;&#127479;</option>-->
    <!--            <option value="EN">&#127482;&#127480;</option>-->
    <!--        </select>-->
    <!--    </div>-->
</header>
<aside class="sidebar">
    <header class="sidebar-header"><h1>Neighood Admin</h1></header>
    <nav>
        <ul>
            <li>
                <details>
                    <summary class="nav-menu">
                        <a href="/admin/admin">
                            <img
                                    src="/img/icon/home.png"
                                    alt="icon"
                                    class="menu__icon"
                            />
                            <h2 class="menu__title">관리자 홈</h2>
                        </a>
                    </summary>
                </details>
            </li>
            <li>
                <details>
                    <summary class="nav-menu">
                        <img
                                src="/img/icon/people.png"
                                alt="icon"
                                class="menu__icon"
                        />
                        <h2 class="menu__title">회원관리</h2>
                        <img
                                src="/img/icon/dropdown.png"
                                alt="icon"
                                class="menu__icon--drop-down"
                        />
                    </summary>
                    <ul class="nav-menu-submenu">
                        <li class="submenu__item">
                            <a href="/admin/userTest">
                                <h3>회원정보</h3>
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="/admin/userTest">
                                <h3>휴면회원</h3>
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="/admin/userTest">
                                <h3>차단회원</h3>
                            </a>
                        </li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary class="nav-menu">
                        <img
                                src="/img/icon/contents.png"
                                alt="icon"
                                class="menu__icon"
                        />
                        <h2 class="menu__title">게시글관리</h2>
                        <img
                                src="/img/icon/dropdown.png"
                                alt="icon"
                                class="menu__icon--drop-down"
                        />
                    </summary>
                    <ul class="nav-menu-submenu">
                        <a href="/admin/contentsTest">
                            <h3>
                                <li class="submenu__item menu--current">작성글관리</li>
                            </h3>
                        </a>
                        <a href="/admin/contentsTest">
                            <h3>
                                <li class="submenu__item">후기글관리</li>
                            </h3>
                        </a>
                    </ul>
                </details>
            </li>
            <!--            <li>-->
            <!--                <details>-->
            <!--                    <summary class="nav-menu">-->
            <!--                        <img-->
            <!--                                src="/img/icon/support.png"-->
            <!--                                alt="icon"-->
            <!--                                class="menu__icon"-->
            <!--                        />-->
            <!--                        <h2 class="menu__title">문의관리</h2>-->
            <!--                        <img-->
            <!--                                src="/img/icon/dropdown.png"-->
            <!--                                alt="icon"-->
            <!--                                class="menu__icon&#45;&#45;drop-down"-->
            <!--                        />-->
            <!--                    </summary>-->
            <!--                    <ul class="nav-menu-submenu">-->
            <!--                        <a href="">-->
            <!--                            <h3>-->
            <!--                                <li class="submenu__item">문의관리</li>-->
            <!--                            </h3>-->
            <!--                        </a>-->
            <!--                        <a href="">-->
            <!--                            <h3>-->
            <!--                                <li class="submenu__item">분쟁관리</li>-->
            <!--                            </h3>-->
            <!--                        </a>-->
            <!--                    </ul>-->
            <!--                </details>-->
            <!--            </li>-->
            <!--          <li>-->
            <!--            <details>-->
            <!--              <summary class="nav-menu">-->
            <!--                <img-->
            <!--                  src="/img/icon/megaphone.png"-->
            <!--                  alt="icon"-->
            <!--                  class="menu__icon"-->
            <!--                />-->
            <!--                <h2 class="menu__title">공지/FAQ관리</h2>-->
            <!--                <img-->
            <!--                  src="/img/icon/dropdown.png"-->
            <!--                  alt="icon"-->
            <!--                  class="menu__icon&#45;&#45;drop-down"-->
            <!--                />-->
            <!--              </summary>-->
            <!--              <ul class="nav-menu-submenu">-->
            <!--                <a href="">-->
            <!--                  <h3>-->
            <!--                    <li class="submenu__item">공지사항</li>-->
            <!--                  </h3>-->
            <!--                </a>-->
            <!--                <a href="">-->
            <!--                  <h3>-->
            <!--                    <li class="submenu__item">FAQ</li>-->
            <!--                  </h3>-->
            <!--                </a>-->
            <!--              </ul>-->
            <!--            </details>-->
            <!--          </li>-->
            <li>
                <details>
                    <summary class="nav-menu">
                        <img src="/img/icon/chart.png" alt="icon" class="menu__icon"/>
                        <h2 class="menu__title">등급관리</h2>
                        <img
                                src="/img/icon/dropdown.png"
                                alt="icon"
                                class="menu__icon--drop-down"
                        />
                    </summary>
                    <ul class="nav-menu-submenu">
                        <a href="/admin/grade">
                            <h3>
                                <li class="submenu__item">사용자등급</li>
                            </h3>
                        </a>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
    <div class="user-info">
        <img src="/img/icon/user.png" alt="" class="user-info__img"/>
        <p class="user-info__email">
            <span id="user-info__email--id">MediQaAdmin</span>
            <span>@gmail.com</span>
        </p>
    </div>
</aside>
    <!-- 페이지별로 class 이름 기능에 맞게 재설정 -->
    <main class="module-container">
        <article class="module--search">
            <div class="search__searchbox">
                <form action="" class="search__searchbox__form">
                    <input
                            id="searchbox"
                            type="text"
                            placeholder="제목으로 검색해보세요"
                    />
                    <button type="button" class="search__searchbox__button">
                        <img src="/img/icon/search.png" alt=""/>
                    </button>
                </form>
            </div>
        </article>
        <article class="module module--content-controller"></article>
        <article class="module module--content-summary"></article>
        <article class="module module--content-list">
            <div class="content-list__title-container">
                <div class="content-list__title-unit">
                    <input type="checkbox" id="title__checkbox" name="checkbox-all"/>
                    <ul class="content-list__title">
                        <li class="title__id">글번호</li>
                        <li class="title__title">제목</li>
                        <li class="title__user-nickname">작성자</li>
                        <li class="title__date-post">등록시간</li>
                        <li class="title__like">좋아요 수</li>
                        <li class="title__views">조회 수</li>
                        <li class="title__detail"></li>

                        <!--              <li class="title__id">글번호</li>-->
                        <!--              <li class="title__title">글제목</li>-->
                        <!--              <li class="title__user-id">회원 ID</li>-->
                        <!--              <li class="title__location">지역</li>-->
                        <!--              <li class="title__location-detail">역삼</li>-->
                        <!--              <li class="title__ip">등록 ip</li>-->
                        <!--              <li class="title__date-post">등록시간</li>-->
                        <!--              <li class="title__date-update">수정시간</li>-->
                        <!--              <li class="title__date-delete">삭제시간</li>-->
                        <!--              <li class="title__detail">상세</li>-->
                    </ul>
                </div>
            </div>
            <div class="content-list__info-container">
                <th:block th:each="board:${boards}">
                    <div class="content-list__info-unit" onclick="getUserNumber()">
                        <input
                                type="checkbox"
                                class="content__checkbox"
                                th:id="*{board.boardNumber}"
                                name="checkbox"
                        />
                        <label class="content__checkbox--label">
                            <ul class="content-list__info" th:object="${board}">
                                <li class="content__id" th:text="*{boardNumber}"></li>
                                <li class="content__title" th:text="*{boardTitle}"></li>
                                <li class="content__user-nickname" th:text="*{userNickname}"></li>
                                <li class="content__date-post" th:text="*{boardRegisterDate}"></li>
                                <li class="content__user-like" th:text="*{likeCount}"></li>
                                <li class="content__user-views" th:text="*{boardView}"></li>
                                <li class="content__detail">
                                    <button type="button" class="detail-button" onclick="modal()">상세보기</button>
                                </li>
                            </ul>
                        </label>
                    </div>
                </th:block>
            </div>
        </article>
        <div class="delete-button" method="deleteGet">삭제하기</div>
        <div th:object="${pagination}" class="page-count position-ab">
            <div style="text-align: center">
                <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}"><code><</code></a>
                <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                    <a class="changePage" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                    <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                </th:block>
                <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><code>></code></a>
            </div>
            <form th:action="@{/admin/contentsTest}" th:object="${criteria}" name="pageForm">
                <input type="hidden" th:field="*{page}">
                <input type="hidden" th:field="*{amount}">
            </form>
        </div>
    </main>
    <div class="modal">
        <div class="modal-wrapper">
            <div id="modal-top">
                <div id="modal-title">
                    게시글 정보
                    <div><img src="/img/icon/close.png" id="close-button" onclick="closeModal()"></div>
                </div>
            </div>
            <div id="modal-main">
                <form id="update" name="update" method="post" th:action="@{/admin/boardUpdate}">
                    <input type="hidden" name="userNumber" id="user-number">
                    <div>글 번호</div>
                    <input type="text" id="board-number" class="input-info1" readonly name="boardNumber" >
                    <div>작성자</div>
                    <input type="text" id="user-nickname" class="input-info1" readonly name="userNumber" >
                    <div>좋아요 수</div>
                    <input type="text" id="board-likes" class="input-info1" readonly name="likeCount" >
                    <div>조회 수</div>
                    <input type="text" id="board-views" class="input-info1" readonly name="boardView" >
                    <div>제목</div>
                    <input type="text" id="board-title" class="user-input input-info1 input2" readonly name="boardTitle" >
                    <div>내용</div>
                    <textarea id="board-content" name="boardContent" cols="30" class="user-input input2" readonly >
                    </textarea>
                    <!-- &#10; 사용하면 textarea 안에서 줄바꿈 &nbsp; 띄어쓰기 -->
                    <!--                <input type="text" id="board-contents">-->
                </form>
            </div>
            <div id="modal-bottom">
                <button id="edit-button1" onclick="changeButton()">수정</button>
                <button id="edit-button2" onclick="changeButton2()" type="submit">수정완료</button>
                <!--            <button id="secession-button">탈퇴</button>-->
            </div>
        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/admin/admin.js"></script>
<!-- 아래에 페이지 별로 갈아 끼워야할 JS -->
<script src="/js/admin/contentsTest.js"></script>
</html>
