<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.mediqal.community.domain.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.mediqal.community.domain.dto.UserDTO" alias="userDTO"/>
        <typeAlias type="com.mediqal.community.domain.vo.InterestVO" alias="interestVO"/>
        <typeAlias type="com.mediqal.community.domain.vo.IllVO" alias="illVO"/>
        <typeAlias type="com.mediqal.community.domain.vo.CertifyVO" alias="certifyVO"/>
    </typeAliases>
</configuration>