<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>알림</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/css/user/t-sanitize.css" />
    <link rel="stylesheet" href="/css/user/root.css" />
    <link rel="stylesheet" href="/css/user/aside.css" />
    <link rel="stylesheet" href="/css/user/notification.css" />
    <link rel="stylesheet" href="/css/components/header.css" />
    <link rel="stylesheet" href="/css/components/footer.css" />
</head>
<body>
<header th:replace="/components/header.html :: .header-container"></header>
<div class="page-wrapper">
    <aside class="profile-menu">
        <p class="menu-title">내 계정</p>
        <nav class="menu-list-wrapper">
            <p class="menu-list-title">메인</p>
            <ul class="menu-list-container menu-list--home">
                <li class="menu-list">
                    <a href="/profile/upcoming" class="menu-list-link">대시보드</a>
                </li>
                <li class="menu-list">
                    <a href="/profile/info" class="menu-list-link">회원정보</a>
                </li>
                <li class="menu-list">
                    <a href="/profile/upcoming" class="menu-list-link menu-list--current">알림</a>
                </li>
            </ul>
            <p class="menu-list-title">커뮤니티</p>
            <ul class="menu-list-container memu-list--community">
                <li class="menu-list">
                    <a href="/profile/article" class="menu-list-link"
                    >작성한 글</a
                    >
                </li>
                <li class="menu-list">
                    <a href="/profile/upcoming" class="menu-list-link">작성한 답변</a>
                </li>
                <li class="menu-list">
                    <a href="/profile/like" class="menu-list-link">도움된 글</a>
                </li>
            </ul>
            <p class="menu-list-title">진료후기</p>
            <ul class="menu-list-container menu-list--review">
                <li class="menu-list">
                    <a href="/profile/reviews" class="menu-list-link">작성한 후기</a>
                </li>
                <li class="menu-list">
                    <a href="/profile/upcoming" class="menu-list-link">스크랩 후기</a>
                </li>
            </ul>
            <p class="menu-list-title">계정설정</p>
            <ul class="menu-list-container menu-list--settings">
                <li class="menu-list">
                    <a href="/profile/upcoming" class="menu-list-link">이메일 인증/변경</a>
                </li>
                <li class="menu-list">
                    <a href="/profile/password" class="menu-list-link">비밀번호 변경</a>
                </li>
                <li class="menu-list">
                    <a href="/profile/upcoming" class="menu-list-link menu-list--upcoming">휴대폰 인증</a>
                </li>
                <li class="menu-list">
                    <a href="/profile/leave" class="menu-list-link">회원탈퇴</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main">
        <p class="user-notify-title">알림</p>
        <section class="user-notify">
            <div class="notify-module notify-keyword">
                <p class="notify-keyword-title">알림 키워드</p>
                <ul class="notify-keyword-list-container">
                    <!-- js로 불러오기 -->
                    <li class="notify-keyword-list" id="#none">치매</li>
                    <li class="notify-keyword-list" id="#none">아토피</li>
                </ul>
            </div>
            <div class="notify-module notify-summary">
                <div class="summary-module summary__total">
                    <p class="summary-title">오늘 알림</p>
                    <p class="summary-detail">
                        <span class="summary-detail-count">123</span>개
                    </p>
                </div>
                <div class="summary-module summary__average">
                    <p class="summary-title">읽지 않은 알림</p>
                    <p class="summary-detail">
                        <span class="summary-detail-count">4</span>개
                    </p>
                </div>
                <div class="summary-module summary__useful">
                    <p class="summary-title">읽은 알림</p>
                    <p class="summary-detail">
                        <span class="summary-detail-count">56</span>개
                    </p>
                </div>
            </div>
            <div class="notify-module notify-list-container">
                <div class="notify-list-head">
                    <div class="list-head__status"></div>
                    <ul class="list-head-container">
                        <li class="list-head__title">제목</li>
                        <li class="list-head__date">작성일</li>
                        <li class="list-head__useful">추천수</li>
                        <li class="list-head__reply">답변수</li>
                    </ul>
                </div>
                <!-- 상황별로 다르게 위해 html로 만듦 -->
                <!-- class 이름별 구분 -->
                <!-- list-unit--current : 현재 -->
                <!-- list-unit--old : 확인한 것 -->
                <!-- 알림표시 구분 -->
                <!-- status--new -->
                <!-- status--old -->
                <form class="notify-list-unit list-unit--current">
                    <div class="list-unit__status status--new"></div>
                    <ul class="list-unit-container">
                        <li class="list-unit__title">배가 아픈데 장염인가요?</li>
                        <li class="list-unit__date">2022.11.22</li>
                        <li class="list-unit__useful">3</li>
                        <li class="list-unit__reply">6</li>
                    </ul>
                </form>
                <form class="notify-list-unit">
                    <div class="list-unit__status status--new"></div>
                    <ul class="list-unit-container">
                        <li class="list-unit__title">배가 아픈데 장염인가요?</li>
                        <li class="list-unit__date">2022.11.22</li>
                        <li class="list-unit__useful">3</li>
                        <li class="list-unit__reply">6</li>
                    </ul>
                </form>
                <form class="notify-list-unit">
                    <div class="list-unit__status status--new"></div>
                    <ul class="list-unit-container">
                        <li class="list-unit__title">배가 아픈데 장염인가요?</li>
                        <li class="list-unit__date">2022.11.22</li>
                        <li class="list-unit__useful">3</li>
                        <li class="list-unit__reply">6</li>
                    </ul>
                </form>
                <form class="notify-list-unit list-unit--old">
                    <div class="list-unit__status status--old"></div>
                    <ul class="list-unit-container">
                        <li class="list-unit__title">배가 아픈데 장염인가요?</li>
                        <li class="list-unit__date">2022.11.22</li>
                        <li class="list-unit__useful">3</li>
                        <li class="list-unit__reply">6</li>
                    </ul>
                </form>
            </div>
            <div class="notify-module article-detail-container">
                <div class="article-detail-head">
                    <p class="list-head-text">알림 상세보기</p>
                    <!-- <button class="detail-edit-btn">수정하기</button>
                    <button class="detail-remove-btn">삭제하기</button> -->
                </div>
                <div class="article-detail">
                    <p class="article-detail__title">
                        Q.
                        <span class="article-detail__title-span"
                        >배가 아프면 장염인가요?</span
                        >
                    </p>
                    <p class="article-detail__detail">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
                        omnis cumque possimus, reiciendis odit excepturi quam ullam in
                        ipsam vel id dolor recusandae libero soluta incidunt ea
                        asperiores architecto quidem. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Beatae, vel vero! Alias ad dicta
                        architecto facilis ducimus. Soluta harum laboriosam sint dolorem
                        inventore. Dignissimos sint eligendi ex est quod itaque.
                    </p>
                </div>
                <div class="article-detail__notify-container">
                    <div class="article-detail__notify-unit">
                        <div class="__notify-unit__profile">
                            <img src="#none" class="__profile-img"></img>
                            <p class="__profile-user-id">답변자1</p>
                            <!-- <button class="notify-edit-btn">수정하기</button>
                            <button class="notify-remove-btn">삭제하기</button> -->
                        </div>
                        <p class="__notify-unit__detail">그럼요 당연하죠.</p>
                    </div>
                    <div class="article-detail__notify-unit">
                        <div class="__notify-unit__profile">
                            <img src="#none" class="__profile-img"></img>
                            <p class="__profile-user-id">작성자본인</p>
                            <button class="notify-edit-btn">수정하기</button>
                            <button class="notify-remove-btn">삭제하기</button>
                        </div>
                        <p class="__notify-unit__detail">감사합니다.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/components/footer.js"></script>
<script src="/js/user/notification.js"></script>
</html>
