/* .page-wrapper {
  width: fit-content;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: row;
} */

/* main */
.main {
  padding-left: 3rem;
  width: 100%;
}

.user-article-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.user-article {
  /* min-width: 1000px; */
  /* max-width: 1000px; */
  /* 변경 */
  width: 50vw;
  /* max-width: 50vw; */
  display: grid;
  /* grid-template-rows: auto; */
  grid-auto-rows: minmax(3rem, auto);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-areas:
          "b b d d"
          "c c d d"
          "c c d d"
          "c c d d"
          "c c d d"
          "c c d d"
          "c c d d"
          "e e a a";
}

.article-module {
  /* border: 1px solid;
    border-color: #565656; */
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
}

.article-searchbox {
  display: none;
  grid-area: s;
  position: relative;
  display: flex;
  width: 100%;
}

.article-controller {
  display: none;
  grid-area: a;
  position: relative;
  width: 100%;
  /*display: flex;*/
  align-items: center;
}

.article-summary {
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.article-list-container {
  grid-area: c;
}

.article-detail-container {
  grid-area: d;
  display: flex;
  flex-flow: column;
}

/* grid 상세 */
/* searchbox */

.searchbox-form {
  display: none;
  width: 100%;
}

.searchbox__input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-left: 2em;
  font-size: 16px;
  line-height: 3em;
  background-color: #fff;
  color: #434343;
  border-radius: 16px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
}

.searchbox__input:hover,
.searchbox__input:focus {
  border: 2px solid #000;
}

.searchbox__btn {
  position: absolute;
  top: 1.1em;
  right: 5%;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

/* controller */
.search-result-container {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  width: 100%;
}

.search-result {
  flex: 5;
  font-size: 15px;
}

.search-result-keyword,
.search-result-count {
  font-weight: 700;
}

.delete-btn {
  padding: 0.2rem 1rem;
  background-color: var(--red-color-light);
  color: #fff;
  border-radius: 3px;
  flex: 1;
}

.delete-btn:hover {
  background-color: var(--red-color-dark);
}

/* summary */
.summary-module {
  text-align: center;
}

.summary-title {
  margin: 1rem auto;
  font-size: 18px;
}

.summary-detail {
  margin: 1rem auto;
  font-size: 16px;
}

.summary-detail-count {
  margin-right: 0.2em;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

/* article-list */
/* article-list-head */
.article-list-container {
  width: 100%;
}

.article-list-head {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0 0.5rem 1rem;
  background-color: #f3f3f3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-head__checkbox {
  display: inline-block;
}

.list-head-container {
  display: flex;
  width: 90%;
  text-align: center;
}

.list-head__number {
  flex: 1;
}

.list-head__title {
  flex: 2;
}

.list-head__date {
  flex: 2;
}

.list-head__useful {
  flex: 1;
}

.list-head__reply {
  flex: 1;
}

/* article-list-unit */
.article-list-unit {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0 0.5rem 1rem;
}

.article-list-unit:hover {
  background-color: #f3f3f3;
  cursor: pointer;
  border-radius: 3px;
}

.list-unit--current {
  background-color: var(--main-color);
  border-radius: 3px;
  /*color: #000;*/
  /*color: #fff;*/
  color: #dfdfdf;
}

.list-unit--current:hover {
  background-color: var(--main-color);
}

.list-unit__checkbox {
  display: inline-block;
}

.list-unit-container {
  display: flex;
  width: 90%;
  text-align: center;
}

.list-unit__number{
  flex: 1;
}

.list-unit__title {
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-hunit_date {
  flex: 1;
}

.list-unit__useful {
  flex: 1;
}

.list-unit__reply {
  flex: 1;
}

/* article detail */
.article-detail-container {
  width: 100%;
  background-color: #f3f3f3;
}

.article-detail-head {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #dfdfdf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.detail-edit-btn {
  margin-left: auto;
  width: 5rem;
  line-height: 1.5rem;
  background-color: #434343;
  color: #fff;
  border-radius: 3px;
  display: none;
}

.detail-remove-btn {
  margin-left: 0.5rem;
  width: 5rem;
  line-height: 1.5rem;
  background-color: var(--red-color-light);
  color: #fff;
  border-radius: 3px;
  display: none;
}

.detail-head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-detail {
  padding: 1rem;
  background-color: #fff;
  height: 420px;
}

.article-detail__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* 변경 */
.article-detail__detail {
  /* padding-left: 1.6rem; */
}

.article-detail__reply-container {
  padding: 1rem;
  margin-top: auto;
  /* background-color: #f3f3f3; */
}

.__reply-unit__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*margin-bottom: 0.5rem;*/
}

.__profile-img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--main-color);
}

.reply-edit-btn {
  /* 변경 */
  /* display: none; */
  margin-left: auto;
  width: 5rem;
  line-height: 1.5rem;
  /* background-color: #fff; */
  background-color: #434343;
  color: #fff;
  border-radius: 3px;
}

.reply-remove-btn {
  /* 변경 */
  /* display: none; */
  margin-left: 0.5rem;
  width: 5rem;
  line-height: 1.5rem;
  background-color: var(--red-color-light);
  color: #fff;
  border-radius: 3px;
}

.__reply-unit__detail {
  margin-bottom: 0.5rem;
}

.list-unit__content, .list-unit__like_number, .list-unit__category {
  display: none;
}

.pagination{
  grid-area: e;
}

.pagination code{
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont,
  "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", arial, dotum,
  돋움, sans-serif;

  background-color: #262626;
  height: 20px;
  width: 12px;
  color: white;
  border-radius: 6px;
  font-weight: 550;
  font-size: 14px;
  line-height: 30px;
  padding: 0 7px;
  text-align: center;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
}

.pagination a code{
  background-color: white;
  color: #262626;
}

input[type=checkbox]{
  display: none;
}