.page-wrapper {
  margin: 0 auto;
  /*margin-top: 8rem;*/
  margin-top: 3.5rem;
  min-width: 500px;
  max-width: 500px;
  box-sizing: border-box;
}

.welcome-section {
  text-align: center;
  margin-bottom: 2rem;
}

/* 임시 */
.logo-container {
  margin: 1.125rem 0;
  font-size: 36px;
  color: var(--main-color);
}

.logo {
  font-size: 50px;
  font-weight: bolder;
  color: blueviolet;
  height: 60px;
}

.welcome__title {
  font-size: 24px;
  font-weight: 700;
}

.welcome__detail {
  font-size: 14px;
  margin: 1rem auto;
  color: #888888;
}

.oauth-module__title {
  line-height: 1.6rem;
  margin: 1rem 0;
}

.oauth-module-container {
  display: grid;
  grid-template-areas: " a b c";
  column-gap: 2rem;
}

.oauth-module {
  text-align: center;
  border: 1px solid;
  border-color: #ababab;
  border-radius: 5px;
  line-height: 2.4rem;
  padding: 0.5rem auto;
}

.oauth-module:hover {
  border-color: #000;
}

.oauth-module > a {
  display: inline-block;
  width: 100%;
}

.article-divider {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  margin: 2rem 0;
}

.divider__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 1em;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form > input {
  border: 1px solid;
  border-color: #ababab;
  border-radius: 5px;
  line-height: 2.4rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.__button {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 0;
  font-size: 18px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  border-color: var(--main-color);
  color: #fff;
  background-color: var(--main-color);
  line-height: 2.4rem;
}

.find-my-email {
  text-align: center;
  margin: 0.625rem;
  font-size: 14px;
}

.find-my-email a {
  color: var(--main-color);
}

.signup-suggest {
  text-align: center;
  font-size: 14px;
  margin-bottom: 3.875rem;
  /*margin-bottom: 0.625rem;*/
  /*margin-bottom: 8px;*/

}

.signup-suggest a {
  color: var(--main-color);
}

svg {
  color: #222;
}
