<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 :: 상세</title>
    <link rel="stylesheet" href="/css/user/root.css" />
    <link rel="stylesheet" href="/css/board/board_detail.css">
    <link rel="stylesheet" href="/css/components/header.css"  />
    <link rel="stylesheet" href="/css/components/footer.css"  />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
</head>
<style>
    .header-container {
        position: absolute;
    }
</style>
<body>
<header th:replace="/components/header.html :: .header-container"></header>
    <div class="wrap">
        <div class="main-content">

            <!-------------------------------------------- 게시물 --------------------------------------------------->

            <div class="board-wrap">
                <div class="board-box">
                    <div class="board">
                        <div class="board-padding">
                            <div class="board-user-profile">
                                <div class="profile-left">
                                    <div class="user-img">
                                        <img src="/img/comment-user-img.webp" alt="">
                                    </div>
                                    <div class="board-user-name">
                                        <span>나는야 토마토</span>
                                    </div>
                                </div>
                                <div class="menu-icon">
                                    <img src="/img/menu-icon.png" class="board-toggle" alt="">
                                </div>
                            </div>
                            <div class="board-menu-nav" style="display: none">
                                <div class="nav">
                                    <div class="update">수정하기</div>
                                    <div class="delete">삭제하기</div>
                                </div>
                            </div>
                            <div class="board-header">
                                <div class="board-title">
                                    <span>Q.</span> 편입에 대해 질문합니다 !
                                </div>
                                <div class="category">
                                    대학생 고민 · 모든 회사 / 모든 직무
                                </div>
                            </div>
                            <div class="board-text">
                                안녕하세요! 
                                혹시 멘토님들 중에서 편입을 하셨거나 현재 종사자로 편입을 어떻게 생각하는지 궁금합니다.
                                저는 현재 경기도권 대학교 2학년 중국통상 학과에 재학 중입니다. 군 입대를 하고 군대에서 만난 명문대학교 사람들과 이야기를 많이 하다 보니 없었던 학벌에 대한 욕심이 생겨서 더 넓은 시야와 질적으로나 양적으로 높은 교양이나 전공과목들을 배우고 체험하고 싶어서 편입을 고민 중입니다. 지금은 전역을 하고 재학 중인 대학교 2학년은 마치려고 합니다.

                                1. 현실적으로 돈 낭비인가요?
                                2. 추천하거나 비추천 하신다면 이유가?
                                3. 많은 회사가 학벌을 중요시 여기나요?
                                4. 면접 질문에 편입도 물어볼까요?
                                5. 혹시 멘토님 중에서 편입을 하셨던 분이 계신다면 느낀 점도 알고 싶습니다
                            </div>
                            <div class="board-register-date">
                                <p>2022.11.18</p>
                            </div>
                            <div class="board-status">
                                <div class="button-like">
                                    <div class="img">
                                        <i class="fa-regular fa-heart"></i>
<!--                                        <i class="fa-solid fa-heart"></i>-->
                                        <span>좋아요 0</span>
                                    </div>
                                </div>
                                <div class="comment-count">
                                    <div class="img">
                                        <i class="fa-regular fa-comment-dots comment"></i>
                                        <span>댓글 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------------------------------------------- 댓글 --------------------------------------------------->

                <div class="comment-wrap">
                    <div class="comment-box">
                        <div class="comment-user-info">
                            <div class="display-flex">
                                <div class="flex-start">
                                    <div class="comment-user-profile">
                                        <div class="comment-last-name">정</div>
                                    </div>
                                    <div class="comment-user-name">
                                        정졍짱
                                    </div>
                                </div>
                                <div class="menu-icon">
                                    <img src="/img/menu-icon.png" class="comment-toggle" alt="">
                                </div>
                            </div>
                            <div class="comment-menu-nav" style="display: none">
                                <div class="nav">
                                    <div class="update">수정하기</div>
                                    <div class="delete">삭제하기</div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-text-wrap">
                            <div class="text">화이팅 입니다 !</div>
                        </div>
                        <div class="comment-register-date-box">
                            <div class="comment-register-date-padding">
                                <div class="comment-register-date">2022.11.19</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------------------------------------------- 댓글 입력 창 --------------------------------------------------->

                <div class="comment-input-text-wrap">
                    <div class="comment-input-text-box">
                        <div class="comment-input-text">
                            <input type="text" placeholder="댓글을 입력하세요.">
                        </div>
                    </div>
                    <div class="comment-submit">
                        <div class="submit-img">
                            <img src="/img/comment-submit-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
<footer th:replace="/components/footer.html :: .footer-container"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/board/board_detail.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/components/footer.js"></script>
</html>