<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 :: 상세</title>
    <link rel="stylesheet" href="/css/user/root.css" />
    <link rel="stylesheet" href="/css/board/board_detail.css">
    <link rel="stylesheet" href="/css/components/header.css"  />
    <link rel="stylesheet" href="/css/components/footer.css"  />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
</head>
<style>
    .header-container {
        position: absolute;
    }
</style>
<body>
<header th:replace="/components/header.html :: .header-container"></header>
<div class="wrap">
    <div class="main-content">

        <!-------------------------------------------- 게시물 --------------------------------------------------->

        <div class="board-wrap">
            <div class="board-box" th:object="${board}">
                <div class="board">
                    <div class="board-padding">
                        <div class="board-user-profile">
                            <div class="profile-left">
                                <div class="user-img">
                                    <!--                                    <img src="/img/comment-user-img.webp" alt="">-->
                                </div>
                                <div class="board-user-name">
                                    <span>나는야 토마토</span>
                                </div>
                            </div>
                            <div class="menu-icon">
                                <img src="/img/menu-icon.png" class="board-toggle" alt="">
                            </div>
                        </div>
                        <div class="board-menu-nav" style="display: none">
                            <div class="nav">
                                <a class="update">수정하기</a>
                                <a class="delete">삭제하기</a>
                            </div>
                        </div>
                        <div class="board-header">
                            <div class="board-title">
                                <span>Q.</span> <a th:text="*{boardTitle}">편입에 대해 질문합니다 !</a>
                            </div>
                            <div class="category">
                                대학생 고민 · 모든 회사 / 모든 직무
                            </div>
                        </div>
                        <div class="board-text" th:text="*{boardContent}">
                            안녕하세요! 
                            혹시 멘토님들 중에서 편입을 하셨거나 현재 종사자로 편입을 어떻게 생각하는지 궁금합니다.
                            저는 현재 경기도권 대학교 2학년 중국통상 학과에 재학 중입니다. 군 입대를 하고 군대에서 만난 명문대학교 사람들과 이야기를 많이 하다 보니 없었던 학벌에 대한 욕심이 생겨서 더 넓은 시야와 질적으로나 양적으로 높은 교양이나 전공과목들을 배우고 체험하고 싶어서 편입을 고민 중입니다. 지금은 전역을 하고 재학 중인 대학교 2학년은 마치려고 합니다.

                            1. 현실적으로 돈 낭비인가요?
                            2. 추천하거나 비추천 하신다면 이유가?
                            3. 많은 회사가 학벌을 중요시 여기나요?
                            4. 면접 질문에 편입도 물어볼까요?
                            5. 혹시 멘토님 중에서 편입을 하셨던 분이 계신다면 느낀 점도 알고 싶습니다
                        </div>
                        <div class="board-register-date">
                            <p th:text="*{boardRegisterDate}">2022.11.18</p>
                        </div>
                        <div class="board-status">
                            <div class="button-like">
                                <div class="img">
                                    <i class="fa-regular fa-heart"></i>
                                    <!--                                        <i class="fa-solid fa-heart"></i>-->
                                    <span id="likeTotal"></span>
                                </div>
                            </div>
                            <div class="comment-count">
                                <div class="img">
                                    <i class="fa-regular fa-comment-dots comment"></i>
                                    <span>댓글 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------------------------- 댓글 --------------------------------------------------->

            <th:block th:each="reply:${replies}">
                <div class="comment-wrap" th:object="${reply}">
                    <div class="comment-box">
                        <div class="comment-user-info">
                            <div class="display-flex">
                                <div class="flex-start">
                                    <div class="comment-user-profile">
                                        <!--                                        <div class="comment-last-name">정</div>-->
                                    </div>
                                    <div class="comment-user-name" th:text="*{userNickname}">
                                        정졍짱
                                    </div>
                                </div>
                                <div class="rep-menu-icon">
                                    <img src="/img/menu-icon.png" class="comment-toggle" alt="">
                                </div>
                            </div>
                            <div class="comment-menu-nav" style="display: none">
                                <!--                            <div class="comment-menu-nav" th:if="*{userNumber == 3}">-->
                                <div class="rep-nav" th:field="replyUser + *{userNumber}">
                                    <div class="rep-update">수정하기</div>
                                    <div class="rep-delete">삭제하기</div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-text-wrap">
                            <div class="text" th:text="*{replyContent}">화이팅 입니다 !</div>
                        </div>
                        <div class="comment-register-date-box">
                            <div class="comment-register-date-padding">
                                <div class="comment-register-date" th:text="*{replyRegisterDate}">2022.11.19</div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <!-------------------------------------------- 댓글 입력 창 --------------------------------------------------->

            <div class="comment-input-text-wrap">
                <div class="comment-input-text-box">
                    <div class="comment-input-text">
                        <input class="newReplyContent" type="text" placeholder="댓글을 입력하세요.">
                    </div>
                </div>
                <div class="comment-submit">
                    <div class="submit-img">
                        <img class="submitReply" src="/img/comment-submit-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!--실험-->
        <!--          <div class="test" th:object="${board}">-->
        <!--              <div th:text="*{boardNumber}">1234</div>-->
        <!--          </div>-->
        <!--            <div th:block class="test" th:each="reply:${replies}">-->
        <!--                <div th:object="${reply}">-->
        <!--                    <div th:text="*{replyContent}"></div>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
</div>
<footer th:replace="/components/footer.html :: .footer-container"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/board/board_detail.js"></script>
<script th:inline="javascript">

    let board = [[${board}]];
    let boardCategory = board.boardCategory;
    let boardNumber = board.boardNumber;

    let boardUserNumber = [[${board.userNumber}]];
    /* TODO: 세션으로 교체 */
    // let userNumber = 4;
    // const realUserNumber = sessionStorage.getAttribute("userNumber");
    let realUserNumber = [[${session.userNumber}]];

    console.log( [[${session}]]);
    // console.log("세션" + realUserNumber);
    console.log("로그인 회원 : " + realUserNumber);
    console.log("게시글 작성 회원 : " +  boardUserNumber);

    if(boardUserNumber != realUserNumber) {
        $("div.board-menu-nav").hide();
        $("div.menu-icon").hide();
    }

    if(boardUserNumber == realUserNumber) {
        $("img.board-toggle").on("click", function () {

            $("div.board-menu-nav").toggle();
        });
    }

    $("img.comment-toggle").on("click", function () {
        $("div.comment-menu-nav").toggle();
    });

    // $("div.rep-menu-icon").hide();

    $(document).ready(function(){
        $.ajax({
            url: "/boardLike/check",
            type: "post",
            data: {boardNumber: boardNumber, userNumber: realUserNumber},
            success: function(check){
                if(check == 0){
                    $(".fa-heart").attr('class', 'fa-regular fa-heart');
                }
                else {
                    $(".fa-heart").attr('class', 'fa-solid fa-heart');
                }
            }
        });
        $.ajax({
            url: "/boardLike/getTotal",
            type: "post",
            data: {boardNumber: boardNumber},
            success: function(total){
                $("#likeTotal").text("좋아요 "+ total);
            }
        });
    })




    $(".fa-heart").on("click", function(){
        // console.log($(this).attr('class'));
        if(realUserNumber){
            if($(this).attr('class') == 'fa-regular fa-heart'){
                $(this).attr('class', 'fa-solid fa-heart');
                $.ajax({
                    url: "/boardLike/insert",
                    type: "post",
                    data: {boardNumber: boardNumber, userNumber: realUserNumber},
                    success: function(total){
                        $("#likeTotal").text("좋아요 "+ total);
                    }
                });
            } else {
                $(this).attr('class', 'fa-regular fa-heart');
                $.ajax({
                    url: "/boardLike/delete",
                    type: "post",
                    data: {boardNumber: boardNumber, userNumber: realUserNumber},
                    success: function(total){
                        $("#likeTotal").text("좋아요 "+ total);
                    }
                });
            }
        }
    });

    let editUrl = `/board/${boardCategory}/${boardNumber}/edit`;
    let removeUrl = `/board/${boardCategory}/${boardNumber}/remove`;

    $(".update").on("click", function (e) {
        e.preventDefault();
        location.href = editUrl;
    });

    $(".delete").on("click", function (e) {
        e.preventDefault();
        location.href = removeUrl;
    });

    //  기타
    $("div.user-img").css({"background":`url(https://avatars.dicebear.com/api/identicon/[[${board.userNumber}]].svg)`})

    //    TODO : 댓글 inline js
    //    댓글

    let newReply = [[${newReply}]];
    // let replyContent = newReply.replyContent;

    $("img.submitReply").on("click", function (e) {
        // e.preventDefault();
        // let $replyWriter = $("input[name='replyWriter']");
        // let $replyContent = $("textarea[name='replyContent']");

        let $replyContent = $("input.newReplyContent");

        let replyDTO = {
            replyContent: $replyContent.val(),
            boardNumber: boardNumber,
            // TODO : 테스트 유저 넘버 바꾸기
            // userNumber : realUserNumber
            userNumber : 10
        }

        replyService.add(
            replyDTO,
            function () {
                return true;
                // window.location.reload(true);
                // getList();
            }
        );
    });

    // 버튼 숨기기
    let replyUserNumber;

    // $(".rep-nav").on("click", function() {
    //     replyUserNumber =
    // });

    /*if(boardUserNumber != realUserNumber) {
        $("div.board-menu-nav").hide();
        $("div.menu-icon").hide();
    }

    if(boardUserNumber == realUserNumber) {
        $("img.board-toggle").on("click", function () {

            $("div.board-menu-nav").toggle();
        });
    }*/
</script>
<script src="/js/components/header.js"></script>
<script src="/js/components/footer.js"></script>
</html>