<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>후기 :: 상세</title>
    <link rel="stylesheet" href="/css/user/root.css" />
    <link rel="stylesheet" href="/css/board/review_detail.css">
    <link rel="stylesheet" href="/css/components/header.css"  />
    <link rel="stylesheet" href="/css/components/footer.css"  />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
</head>
<style>
    .header-container {
        position: absolute;
    }
</style>
<body>
<header th:replace="/components/header.html :: .header-container"></header>
<div class="wrap">
    <div class="main-content">

        <!-------------------------------------------- 게시물 --------------------------------------------------->

        <div class="review-wrap">
            <div class="review-box">
                <div class="review">
                    <div class="review-padding">
                        <div class="review-user-profile">
                            <div class="profile-left">
                                <div class="user-img">
                                    <img src="/img/comment-user-img.webp" alt="">
                                </div>
                                <div class="review-user-name">
                                    <span>나는야 토마토</span>
                                </div>
                            </div>
                            <div class="menu-icon">
                                <img src="/img/menu-icon.png" class="board-toggle" alt="">
                            </div>
                        </div>
                        <div class="board-menu-nav" style="display: none">
                            <div class="nav">
                                <div class="update">수정하기</div>
                                <div class="delete">삭제하기</div>
                            </div>
                        </div>
                        <div class="review-header">
                            <div class="review-title">
                                월계동 이관철 이비인후과 독감주사 한번 믿어보세요 ~
                            </div>
                            <div class="tag-wrap">
                                <span class="tag">이관철 이비인후과</span>
                                <span class="tag">독감주사</span>
                            </div>
                        </div>
                        <div class="review-text">
                            이관철 이비인후과 웃으면서 안내도 해주시고
                            여러모로 다정하고 친절하게 잘 진행해주셔서 기분 좋게 집으로 돌아갔네요 ~~!
                        </div>
                        <div class="review-register-date">
                            <p>2022.11.18</p>
                        </div>
                        <div class="review-status">
                            <div class="button-like">
                                <div class="img">
                                    <i class="fa-regular fa-heart"></i>
                                    <!--                                        <i class="fa-solid fa-heart"></i>-->
                                    <span>좋아요 0</span>
                                </div>
                            </div>
                            <div class="comment-count">
                                <div class="img">
                                    <i class="fa-regular fa-comment-dots comment"></i>
                                    <span>댓글 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------------------------- 댓글 --------------------------------------------------->

            <div class="comment-wrap">
                <div class="comment-box">
                    <div class="comment-user-info">
                        <div class="display-flex">
                            <div class="flex-start">
                                <div class="comment-user-profile">
                                    <div class="comment-last-name">정</div>
                                </div>
                                <div class="comment-user-name">
                                    정졍짱
                                </div>
                            </div>
                            <div class="menu-icon">
                                <img src="/img/menu-icon.png" class="comment-toggle" alt="">
                            </div>
                        </div>
                        <div class="comment-menu-nav" style="display: none">
                            <div class="nav">
                                <div class="update">수정하기</div>
                                <div class="delete">삭제하기</div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-text-wrap">
                        <div class="text">화이팅 입니다 !</div>
                    </div>
                    <div class="comment-register-date-box">
                        <div class="comment-register-date-padding">
                            <div class="comment-register-date">2022.11.19</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------------------------- 댓글 입력 창 --------------------------------------------------->

            <div class="comment-input-text-wrap">
                <div class="comment-input-text-box">
                    <div class="comment-input-text">
                        <input type="text" placeholder="댓글을 입력하세요.">
                    </div>
                </div>
                <div class="comment-submit">
                    <div class="submit-img">
                        <img src="/img/comment-submit-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<footer th:replace="/components/footer.html :: .footer-container"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/board/review_detail.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/components/footer.js"></script>
</html>