<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>후기 :: 목록</title>
    <link rel="stylesheet" href="/css/user/root.css" />
    <link rel="stylesheet" href="/css/board/review.css">
    <link rel="stylesheet" href="/css/components/header.css"  />
    <link rel="stylesheet" href="/css/components/footer.css"  />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
</head>
<style>
    .header-container {
        position: absolute;
    }
</style>
<body>
<header th:replace="/components/header.html :: .header-container"></header>
<div class="wrap">
    <div class="main">
        <div class="content-wrap">

            <div class="board-banner">
                <div class="banner-img">
                    <img src="https://cdn.comento.kr/images/edu/matching/saramin-banner-timeline.jpg?s=1650x144&q=75" alt="">
                </div>
            </div>

            <!------------------------------------ 첫 번째 후기글  ------------------------------------>

            <div class="container">
                <div class="content-first-box">
                    <div class="tag-wrap">
                        <span class="tag">이관철 이비인후과</span>
                        <span class="tag">독감주사</span>
                    </div>
                    <p class="review-title">
                        월계동 이관철 이비인후과 독감주사 한번 믿어보세요 ~
                    </p>
                    <p class="review-text">
                        이관철 이비인후과 웃으면서 안내도 해주시고
                        여러모로 다정하고 친절하게 잘 진행해주셔서 기분 좋게 집으로 돌아갔네요 ~~!
                    </p>
                </div>
                <div class="content-second-box">
                    <div class="content-status">
                        <div class="icon-eyes icon">
                            <div class="img">
                                <i class="fa-regular fa-eye"></i>
                                <span>4</span>
                            </div>
                        </div>
                        <div class="icon-like icon">
                            <div class="img">
                                <i class="fa-regular fa-heart"></i>
                                <span>2</span>
                            </div>
                        </div>
                        <div class="icon-comment icon">
                            <div class="img">
                                <i class="fa-regular fa-comment-dots comment"></i>
                                <span>1</span>
                            </div>
                        </div>
                    </div>
                    <div class="board-register">2022.11.18</div>
                </div>
            </div>

            <!------------------------------------ 두 번째 후기글  ------------------------------------>

            <div class="container">
                <div class="content-first-box">
                    <div class="tag-wrap">
                        <span class="tag">이관철 이비인후과</span>
                        <span class="tag">독감주사</span>
                    </div>
                    <p class="review-title">
                        월계동 이관철 이비인후과 독감주사 한번 믿어보세요 ~
                    </p>
                    <p class="review-text">
                        이관철 이비인후과 웃으면서 안내도 해주시고
                        여러모로 다정하고 친절하게 잘 진행해주셔서 기분 좋게 집으로 돌아갔네요 ~~!
                    </p>
                </div>
                <div class="content-second-box">
                    <div class="content-status">
                        <div class="icon-eyes icon">
                            <div class="img">
                                <i class="fa-regular fa-eye"></i>
                                <span>4</span>
                            </div>
                        </div>
                        <div class="icon-like icon">
                            <div class="img">
                                <i class="fa-regular fa-heart"></i>
                                <span>2</span>
                            </div>
                        </div>
                        <div class="icon-comment icon">
                            <div class="img">
                                <i class="fa-regular fa-comment-dots comment"></i>
                                <span>1</span>
                            </div>
                        </div>
                    </div>
                    <div class="board-register">2022.11.18</div>
                </div>
            </div>
        </div>

        <!------------------------------------ 세 번째 후기글  ------------------------------------>

        <div class="container">
            <div class="content-first-box">
                <div class="tag-wrap">
                    <span class="tag">이관철 이비인후과</span>
                    <span class="tag">독감주사</span>
                </div>
                <p class="review-title">
                    월계동 이관철 이비인후과 독감주사 한번 믿어보세요 ~
                </p>
                <p class="review-text">
                    이관철 이비인후과 웃으면서 안내도 해주시고
                    여러모로 다정하고 친절하게 잘 진행해주셔서 기분 좋게 집으로 돌아갔네요 ~~!
                </p>
            </div>
            <div class="content-second-box">
                <div class="content-status">
                    <div class="icon-eyes icon">
                        <div class="img">
                            <i class="fa-regular fa-eye"></i>
                            <span>4</span>
                        </div>
                    </div>
                    <div class="icon-like icon">
                        <div class="img">
                            <i class="fa-regular fa-heart"></i>
                            <span>2</span>
                        </div>
                    </div>
                    <div class="icon-comment icon">
                        <div class="img">
                            <i class="fa-regular fa-comment-dots comment"></i>
                            <span>1</span>
                        </div>
                    </div>
                </div>
                <div class="board-register">2022.11.18</div>
            </div>
        </div>
    </div>

    <!------------------------------------ 네 번째 후기글  ------------------------------------>

    <div class="container">
        <div class="content-first-box">
            <div class="tag-wrap">
                <span class="tag">이관철 이비인후과</span>
                <span class="tag">독감주사</span>
            </div>
            <p class="review-title">
                월계동 이관철 이비인후과 독감주사 한번 믿어보세요 ~
            </p>
            <p class="review-text">
                이관철 이비인후과 웃으면서 안내도 해주시고
                여러모로 다정하고 친절하게 잘 진행해주셔서 기분 좋게 집으로 돌아갔네요 ~~!
            </p>
        </div>
        <div class="content-second-box">
            <div class="content-status">
                <div class="icon-eyes icon">
                    <div class="img">
                        <i class="fa-regular fa-eye"></i>
                        <span>4</span>
                    </div>
                </div>
                <div class="icon-like icon">
                    <div class="img">
                        <i class="fa-regular fa-heart"></i>
                        <span>2</span>
                    </div>
                </div>
                <div class="icon-comment icon">
                    <div class="img">
                        <i class="fa-regular fa-comment-dots comment"></i>
                        <span>1</span>
                    </div>
                </div>
            </div>
            <div class="board-register">2022.11.18</div>
        </div>
    </div>
</div>
<div class="nav">
    <div class="button-img">
        <i class="fa-solid fa-plus"></i>
    </div>
</div>
</div>
</div>
<footer th:replace="/components/footer.html :: .footer-container"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/board/review.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/components/footer.js"></script>
</html>