<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/components/header.css"  />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="header-left">
                    <div class="header-logo">
                        MediQa!
                    </div>
                    <div class="header-category">
                        <div class="header-community">커뮤니티</div>
                        <div class="header-review">진료후기</div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="header-user-off" th:if="${session.userNumber == null}">
                        <li class="header-signin">로그인</li>
                        <li class="header-signup">회원가입</li>
                    </ul>
                    <ul class="header-user-on" th:unless="${session.userNumber == null}">
                        <li class="header-mypage">마이페이지</li>
                        <li class="header-signout">로그아웃</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/components/header.js"></script>
</html>