<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 변경</title>
    <!-- 경로 변경 필요 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/css/user/t-sanitize.css" />
    <link rel="stylesheet" href="/css/user/root.css" />
    <link rel="stylesheet" href="/css/user/aside.css" />
    <link rel="stylesheet" href="/css/user/password.css" />
    <link rel="stylesheet" href="/css/components/header.css" />
    <link rel="stylesheet" href="/css/components/footer.css" />
</head>
<body>
<script th:if="${updatePW == 'yes'}">alert("비밀번호 변경");</script>
<script th:if="${updatePW == 'no'}">alert("비밀번호 확인하세요!");</script>
<header th:replace="/components/header.html :: .header-container"></header>
<div class="page-wrapper">
    <aside class="profile-menu">
        <p class="menu-title">내 계정</p>
        <nav class="menu-list-wrapper">
            <p class="menu-list-title">메인</p>
            <ul class="menu-list-container menu-list--home">
                <li class="menu-list">
                    <a href="/user/upcoming" class="menu-list-link">대시보드</a>
                </li>
                <li class="menu-list">
                    <a href="/user/info" class="menu-list-link">회원정보</a>
                </li>
                <li class="menu-list">
                    <a href="/user/notification" class="menu-list-link">알림</a>
                </li>
            </ul>
            <p class="menu-list-title">커뮤니티</p>
            <ul class="menu-list-container memu-list--community">
                <li class="menu-list">
                    <a href="/user/article" class="menu-list-link"
                    >작성한 글</a
                    >
                </li>
                <li class="menu-list">
                    <a href="/user/reply" class="menu-list-link">작성한 답변</a>
                </li>
                <li class="menu-list">
                    <a href="/user/upcoming" class="menu-list-link">도움된 글</a>
                </li>
            </ul>
            <p class="menu-list-title">진료후기</p>
            <ul class="menu-list-container menu-list--review">
                <li class="menu-list">
                    <a href="/user/upcoming" class="menu-list-link">작성한 후기</a>
                </li>
                <li class="menu-list">
                    <a href="/user/upcoming" class="menu-list-link">스크랩 후기</a>
                </li>
            </ul>
            <p class="menu-list-title">계정설정</p>
            <ul class="menu-list-container menu-list--settings">
                <li class="menu-list">
                    <a href="/user/email" class="menu-list-link">이메일 인증/변경</a>
                </li>
                <li class="menu-list">
                    <a href="/user/password" class="menu-list-link menu-list--current">비밀번호 변경</a>
                </li>
                <li class="menu-list">
                    <a href="/user/upcoming" class="menu-list-link menu-list--upcoming">휴대폰 인증</a>
                </li>
                <li class="menu-list">
                    <a href="/user/leave" class="menu-list-link">회원탈퇴</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main">
        <section class="user-pw">
            <p class="user-pw-title">비밀번호 변경</p>
            <form th:action="/profile/password" class="pw-form" method="post" th:object="${userVO}">
                <div class="pw__item pw--current">
                    <label for="pw--current-input" class="pw-label" th:field="*{userPassword}"
                    >현재 비밀번호</label
                    >
                    <input
                            type="password"
                            class="pw-input"
                            id="pw--current-input"
                            placeholder="변경할 비밀번호를 입력해주세요."
                    />
                </div>
                <div class="pw__item pw--change">
                    <label for="pw--change-input" class="pw-label"
                    >변경할 비밀번호</label
                    >
                    <input type="password" class="pw-input" id="pw--change-input" th:field="${userPasswordNew}/>
                </div>
                <div class="pw__item pw--confirm">
                    <label for="pw--confirm-input" class="pw-label"
                    >비밀번호 확인</label
                    >
                    <input
                            type="password"
                            class="pw-input"
                            id="pw--confirm-input"
                            placeholder="비밀번호 확인."
                    />
                </div>
                <div class="pw__item pw__btn">
                    <button type="submit" class="pw__btn-btn">저장하기</button>
                </div>
            </form>
        </section>
    </main>
</div>
<footer th:replace="/components/footer.html :: .footer-container"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/components/footer.js"></script>
<script src="/js/user/password.js"></script>
</html>
