<div class="info__email">
  <label for="email-input" class="info__email-label">이메일</label>
  <input
    type="text"
    value="example@email.com"
    class="info__email-input"
    id="email-input"
    placeholder="현재 비밀번호를 입력해주세요."
  />
</div>
<div class="info__pw">
  <label for="pw--current-input" class="info__pw--current">현재 비밀번호</label>
  <input
    type="password"
    class="info__pw-current-input"
    id="pw--current-input"
    placeholder="변경할 비밀번호를 입력해주세요."
  />
  <label for="pw--change-input" class="info__pw--change">변경할 비밀번호</label>
  <input type="password" class="info__pw-change-input" id="pw--change-input" />
  <label for="pw--confirm-input" class="info__pw--confirm">비밀번호 확인</label>
  <input
    type="password"
    class="info__pw-confirm-input"
    id="pw--confirm-input"
    placeholder="비밀번호 확인."
  />
</div>
