<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <!-- 경로 변경 필요 -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="/css/user/t-sanitize.css" />
  <link rel="stylesheet" href="/css/user/root.css" />
  <link rel="stylesheet" href="/css/user/signup.css" />
  <link rel="stylesheet" href="/css/components/header.css"  />
  <link rel="stylesheet" href="/css/components/footer.css"  />
</head>
<body>
<header th:replace="/components/header.html :: .header-container"></header>
<main class="page-wrapper">
  <section class="welcome-section">
    <div class="logo-container">
      <!-- p태그 지우고 이미지로 교체 -->
      <!-- <img class="logo" src="" alt=""> -->
<!--      <p>로고</p>-->
      <div class="logo">
        MediQa!
      </div>
    </div>
    <div class="welcome__title">
      <p>MediQa!에 오신 것을 환영합니다.</p>
    </div>
    <div class="welcome__detail">
      <p>MediQa!은 환우들을 위한 의료지식 공유플랫폼입니다.</p>
    </div>
  </section>
  <section class="signup-section">
    <article class="signup--oauth">
      <!-- 클래스 이름 맘에 안 듦 -->
      <p class="oauth-module__title">SNS 회원가입</p>
      <ul class="oauth-module-container">
        <li class="oauth-module oauth-module--google">
          <a href="#none"
          ><svg
                  viewBox="0 0 24 24"
                  width="20"
                  height="20"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
              <path
                      fill="#222"
                      d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z"
              />
              <path
                      fill="#222"
                      d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z"
              />
              <path
                      fill="#222"
                      d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z"
              />
              <path
                      fill="#222"
                      d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z"
              />
            </g></svg
          ></a>
        </li>
        <li class="oauth-module oauth-module--naver">
          <a href="#none"
          ><svg
                  class="h-5 w-5"
                  viewBox="-1 -1 17 16"
                  width="20"
                  height="20"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <path
                    d="M9.88343 0V7.06382L5.13527 0H0V14H5.11657V6.93618L9.8666 14H15V0H9.88343Z"
                    fill="#222"
            ></path></svg
          ></a>
        </li>
        <li class="oauth-module oauth-module--kakao">
          <a href="https://kauth.kakao.com/oauth/authorize?client_id=b1942603844093783ad7859daa3b5918&redirect_uri=http://localhost:11000/user/kakao&response_type=code">
          <svg
                  class="h-5 w-5"
                  viewBox="0 0 22 21"
                  width="22"
                  height="22"
                  fill="white"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1394_6217)">
              <path
                      d="M11 0C4.92473 0 0 4.04523 0 9.03544C0 12.2837 2.08683 15.1299 5.2182 16.7227C4.98798 17.6156 4.38507 19.9561 4.26426 20.457C4.11553 21.0787 4.48366 21.0705 4.72471 20.9029C4.9139 20.772 7.73926 18.7767 8.95819 17.9152C9.6198 18.017 10.3019 18.0709 11 18.0709C17.0753 18.0709 22 14.0251 22 9.03544C22 4.04582 17.0753 0 11 0Z"
                      fill="#222"
              ></path>
              <path
                      d="M6.57195 6.37451H3.35566C3.05306 6.37451 2.80859 6.62911 2.80859 6.94293C2.80859 7.25674 3.05363 7.51134 3.35566 7.51134H4.40135V11.5151C4.40135 11.6608 4.45834 11.8041 4.55863 11.9077C4.65665 12.0107 4.79398 12.0699 4.93474 12.0699H5.05156C5.19175 12.0699 5.32851 12.0107 5.4271 11.9077C5.52739 11.8041 5.58438 11.6614 5.58438 11.5151V7.51134H6.57195C6.87454 7.51134 7.11958 7.25674 7.11958 6.94293C7.11958 6.62911 6.87454 6.37451 6.57195 6.37451Z"
                      fill="white"
                      class="block dark:hidden"
              ></path>
              <path
                      d="M14.3034 11.0004H12.8075V6.9114C12.8075 6.57035 12.542 6.29443 12.2143 6.29443C11.8866 6.29443 11.6211 6.57035 11.6211 6.9114V11.319C11.6211 11.3533 11.6251 11.3853 11.6302 11.4179C11.6245 11.4498 11.6211 11.483 11.6211 11.5162C11.6211 11.8016 11.8428 12.0325 12.1174 12.0325H14.3034C14.5787 12.0325 14.7998 11.8016 14.7998 11.5162C14.7998 11.2308 14.5781 11.0004 14.3034 11.0004Z"
                      fill="white"
                      class="block dark:hidden"
              ></path>
              <path
                      d="M19.0842 11.1881L17.4174 8.91329L18.9235 7.34778C19.1275 7.1364 19.1275 6.79239 18.9235 6.58042C18.7195 6.36845 18.389 6.36845 18.1844 6.58042L16.3198 8.51777V6.9114C16.3198 6.57035 16.0543 6.29443 15.7266 6.29443C15.3989 6.29443 15.1328 6.57035 15.1328 6.9114V11.4546C15.1328 11.7956 15.3984 12.0716 15.7266 12.0716C16.0548 12.0716 16.3198 11.7962 16.3198 11.4546V10.0531L16.6589 9.70138L18.2357 11.8513C18.4112 12.0946 18.7446 12.145 18.9788 11.9608C19.213 11.7779 19.2603 11.4321 19.0842 11.1881Z"
                      fill="white"
                      class="block dark:hidden"
              ></path>
              <path
                      d="M11.1745 11.3357L9.57146 6.77887C9.57146 6.77887 9.56747 6.77532 9.56633 6.77355C9.46375 6.49585 9.168 6.29395 8.81525 6.29395C8.42376 6.29395 8.10008 6.54263 8.03568 6.86769C8.02486 6.89197 8.01403 6.91624 8.00491 6.94229L6.42868 11.3357C6.33124 11.624 6.47712 11.939 6.7535 12.0403C7.03045 12.1415 7.33419 11.9899 7.43163 11.7022L7.7046 10.8934H9.89856L10.1709 11.7022C10.2684 11.9899 10.5721 12.1415 10.8491 12.0403C11.126 11.939 11.2719 11.624 11.1745 11.3357ZM8.05278 9.86016L8.79018 7.67413C8.79873 7.67413 8.80557 7.6765 8.81411 7.6765L9.55094 9.86016H8.05335H8.05278Z"
                      fill="white"
                      class="block dark:hidden"
              ></path>
              <path
                      d="M6.57195 6.37451H3.35566C3.05306 6.37451 2.80859 6.62911 2.80859 6.94293C2.80859 7.25674 3.05363 7.51134 3.35566 7.51134H4.40135V11.5151C4.40135 11.6608 4.45834 11.8041 4.55863 11.9077C4.65665 12.0107 4.79398 12.0699 4.93474 12.0699H5.05156C5.19175 12.0699 5.32851 12.0107 5.4271 11.9077C5.52739 11.8041 5.58438 11.6614 5.58438 11.5151V7.51134H6.57195C6.87454 7.51134 7.11958 7.25674 7.11958 6.94293C7.11958 6.62911 6.87454 6.37451 6.57195 6.37451Z"
                      fill="rgb(17 24 39 / var(--tw-bg-opacity))"
                      class="hidden dark:block"
              ></path>
              <path
                      d="M14.3034 11.0004H12.8075V6.9114C12.8075 6.57035 12.542 6.29443 12.2143 6.29443C11.8866 6.29443 11.6211 6.57035 11.6211 6.9114V11.319C11.6211 11.3533 11.6251 11.3853 11.6302 11.4179C11.6245 11.4498 11.6211 11.483 11.6211 11.5162C11.6211 11.8016 11.8428 12.0325 12.1174 12.0325H14.3034C14.5787 12.0325 14.7998 11.8016 14.7998 11.5162C14.7998 11.2308 14.5781 11.0004 14.3034 11.0004Z"
                      fill="rgb(17 24 39 / var(--tw-bg-opacity))"
                      class="hidden dark:block"
              ></path>
              <path
                      d="M19.0842 11.1881L17.4174 8.91329L18.9235 7.34778C19.1275 7.1364 19.1275 6.79239 18.9235 6.58042C18.7195 6.36845 18.389 6.36845 18.1844 6.58042L16.3198 8.51777V6.9114C16.3198 6.57035 16.0543 6.29443 15.7266 6.29443C15.3989 6.29443 15.1328 6.57035 15.1328 6.9114V11.4546C15.1328 11.7956 15.3984 12.0716 15.7266 12.0716C16.0548 12.0716 16.3198 11.7962 16.3198 11.4546V10.0531L16.6589 9.70138L18.2357 11.8513C18.4112 12.0946 18.7446 12.145 18.9788 11.9608C19.213 11.7779 19.2603 11.4321 19.0842 11.1881Z"
                      fill="rgb(17 24 39 / var(--tw-bg-opacity))"
                      class="hidden dark:block"
              ></path>
              <path
                      d="M11.1745 11.3357L9.57146 6.77887C9.57146 6.77887 9.56747 6.77532 9.56633 6.77355C9.46375 6.49585 9.168 6.29395 8.81525 6.29395C8.42376 6.29395 8.10008 6.54263 8.03568 6.86769C8.02486 6.89197 8.01403 6.91624 8.00491 6.94229L6.42868 11.3357C6.33124 11.624 6.47712 11.939 6.7535 12.0403C7.03045 12.1415 7.33419 11.9899 7.43163 11.7022L7.7046 10.8934H9.89856L10.1709 11.7022C10.2684 11.9899 10.5721 12.1415 10.8491 12.0403C11.126 11.939 11.2719 11.624 11.1745 11.3357ZM8.05278 9.86016L8.79018 7.67413C8.79873 7.67413 8.80557 7.6765 8.81411 7.6765L9.55094 9.86016H8.05335H8.05278Z"
                      fill="rgb(17 24 39 / var(--tw-bg-opacity))"
                      class="hidden dark:block"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_1394_6217">
                <rect width="22" height="21" fill="white"></rect>
              </clipPath>
            </defs></svg
          ></a>
        </li>
      </ul>
    </article>
    <div class="article-divider">
      <hr />
      <p class="divider__text">
        회원가입에 필요한 기본정보를 입력해주세요.
      </p>
    </div>
    <article class="signup--email">
      <div class="signup-form-container">
<!--        <form method="post" th:action="@{/user/signup}" id="hiddenForm" name="hiddenForm" th:object="${userNaver}" style="display: none">-->
<!--          <input-->
<!--                  id="naver-email"-->
<!--                  name="userEmail"-->
<!--                  readonly-->
<!--                  style="display: none"-->
<!--          >-->
<!--          <input-->
<!--                  id="naver-password"-->
<!--                  name="userPassword"-->
<!--                  readonly-->
<!--                  style="display: none"-->
<!--          >-->
<!--          <input-->
<!--                  id="naver-name"-->
<!--                  name="userName"-->
<!--                  readonly-->
<!--                  style="display: none"-->
<!--          >-->
<!--          <input-->
<!--                  id="naver-authtype"-->
<!--                  name="userAuthType"-->
<!--                  value="naver"-->
<!--                  readonly-->
<!--                  style="display: none"-->
<!--          >-->
<!--        </form>-->
        <form method="post" th:action="@{/user/signup}" id="signupForm" class="signup-form" name="userForm" th:object="${user}">
          <input
                  th:if="${session.userEmail != null}"
                  th:value="${session.user.userAuthType}"
                  name="userAuthType"
                  id="userAuthType"
                  readonly
                  style="display: none"
          />
          <input
                  th:unless="${session.userEmail != null}"
                  value="email"
                  name="userAuthType"
                  id="userAuthTypeInput"
                  readonly
                  style="display: none"
          />
          <label class="__email-label input-id" >아이디</label>
          <input
                  th:if="${session.userEmail == null}"
                  name="userEmail"
                  type="text"
                  class="__email-input"
                  placeholder="example@email.com"
                  id="userEmail"
                  oninput="checkId()"
          />
          <input
                  th:unless="${session.userEmail == null}"
                  th:value="${session.userEmail}"
                  name="userEmail"
                  type="text"
                  class="__email-input"
                  id="userEmailInput"
          />
          <div class="span-wrapper">
            <span class="under-input" id="result" style="visibility: hidden">중복된 아이디가 있습니다.</span>
          </div>
          <label class="__pw-label label-margin">비밀번호</label>
          <input
                  th:if="${session.userEmail == null}"
                  type="password"
                  name="userPassword"
                  class="__pw-input"
                  id="password"
                  placeholder="대소문자, 특수문자 포함 8자 이상 20자 이하의 비밀번호"
                  oninput="chkPW(), chkPW2(), chkPW3()"
          />
          <input
                  th:unless="${session.userEmail == null}"
                  th:value="${session.user.userPassword}"
                  type="password"
                  name="userPassword"
                  class="__pw-input"
                  id="passwordInput"
          />
          <div class="span-wrapper">
            <span class="under-input" id="under-password" style="visibility: hidden">비밀번호를 입력해주세요.</span>
          </div>
          <label class="__pw-label label-margin">비밀번호 확인</label>
          <input
                  th:if="${session.userEmail == null}"
                  type="password"
                  class="__pw-input"
                  id="passwordCheck"
                  placeholder="위와 동일한 비밀번호"
                  oninput="chkPW2()"
          />
          <input
                  th:unless="${session.userEmail == null}"
                  th:value="${session.user.userPassword}"
                  type="password"
                  class="__pw-input"
                  id="passwordCheckInput"
          />
          <div class="span-wrapper" >
            <span class="under-input" id="under-passwordCheck" style="visibility: hidden">비밀번호가 일치하지 않습니다.</span>
          </div>
          <label class="__name-label label-margin">이름</label>
          <input
                  th:if="${session.userEmail == null}"
                  type="text"
                  class="__name-input"
                  name="userName"
                  id="userName"
                  placeholder="이름을 입력해주세요."
                  oninput="checkName()"
          />
          <input
                  th:unless="${session.userEmail == null}"
                  th:value="${session.userName}"
                  type="text"
                  class="__name-input"
                  name="userName"
                  id="userNameInput"
          />
          <div class="span-wrapper">
            <span class="under-input" id="under-name" style="visibility: hidden">한글로 입력해주세요.</span>
          </div>
          <label class="__id-label label-margin">닉네임</label>
          <input
                  type="text"
                  class="__id-input"
                  id="userNickname"
                  name="userNickname"
                  placeholder="설정하지 않으면 기본(ㅇㅇ)으로 설정되며, 변경할 수 있습니다."
                  oninput="checkNickname()"
          />
          <div class="span-wrapper">
            <span class="under-input" id="result2" style="visibility: hidden">중복된 닉네임이 있습니다.</span>
          </div>
          <div class="agreement-container">
            <div class="agreement--terms">
              <input
                      type="checkbox"
                      class="terms-checkbox"
                      id="terms-check"
              />
              <label for="terms-check">약관동의</label>
              <a href="#none" class="terms-link">서비스 이용약관 ></a>
            </div>
            <div class="agreement--email">
              <input
                      type="checkbox"
                      class="email-checkbox"
                      id="email-check"
              />
              <label for="email-check">이메일 수신동의</label>
              <p class="email-term">
                MediQa!에서 주최하는 다양한 이벤트, 정보성 뉴스레터 및 광고
                수신여부를 설정할 수 있습니다.
              </p>
            </div>
          </div>
          <button type="button" class="__button" id="signup-button" onclick="checkNull()" th:if="${session.userEmail == null}">회원가입</button>
          <button type="button" class="__button" id="signup-button2" onclick="checkNull2()" th:unless="${session.userEmail == null}">회원가입</button>
        </form>
      </div>
    </article>
  </section>
</main>
<footer th:replace="/components/footer.html :: .footer-container"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/user/signUp.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/components/footer.js"></script>
<script>
  var naver_id_login = new naver_id_login("n_JH1m5FF3XfKJsf0aTy", "http://localhost:11000/naver/naverSuccess");
  // 접근 토큰 값 출력
  // alert(naver_id_login.oauthParams.access_token);
  // 네이버 사용자 프로필 조회
  naver_id_login.get_naver_userprofile("naverSignInCallback()");
  // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
  function naverSignInCallback() {
    // alert(naver_id_login.getProfileData('email'));
    // alert(naver_id_login.getProfileData('name'));
    // alert(naver_id_login.getProfileData('age'));
    $("#naver-id").val(naver_id_login.getProfileData('email'));
    $("#naver-password").val("naver");
    $("#naver-name").val(naver_id_login.getProfileData('name'));
  }
</script>
</html>
