@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: Pretendard-Regular;
  position: relative;
}

/* main */
.module-container {
  margin-left: 12.5vw;
  padding: 3.5rem 3rem;
  background-color: #fbfbfb;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "s s s s"
    "a a b b"
    "c c c c"
    "c c c c"
    "c c c c";
}

.module {
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.module--search {
  grid-area: s;
  display: flex;
  align-items: center;
}

.search__searchbox {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__searchbox__form {
  position: relative;
  display: flex;
  width: 100%;
}

#searchbox {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-left: 2em;
  font-size: 16px;
  line-height: 3em;
  background-color: #fff;
  color: #434343;
  border-radius: 16px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

#searchbox:hover,
#searchbox:focus {
  border: 2px solid #000;
}

.search__searchbox__button {
  position: absolute;
  top: 1.1em;
  right: 8%;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

.search__searchbox__button > img {
  width: 100%;
  height: 100%;
}

/* modules */
.module--content-controller {
  grid-area: a;
}

.module--content-summary {
  grid-area: b;
}

.module--content-list {
  grid-area: c;
  width: 100%;
  height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14.2px;
}

/* content-title */
.content-list__title-container {
  position: relative;
  width: 100%;
  /* padding: 0.6em 1.4em; */
}

.content-list__title-container::after {
  display: block;
  position: absolute;
  bottom: -0.2em;
  content: "";
  margin: 0 1.2em;
  width: calc(100% - 2.4em);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.content-list__title-unit {
  width: 100%;
  display: flex;
  font-weight: 600;
}

#title__checkbox {
  margin: 0.6em 1.4em 0.4em;
}

.content-list__title {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  margin: 0.6em 0 0.4em;
}

.title__id {
  flex: 1;
}
.title__title {
  flex: 1.5;
}
.title__user-nickname {
  flex: 1;
}
.title__date-post {
  flex: 1.5;
}
.title__like {
  flex: 1;
}
.title__views{
  flex: 1;
}
.title__detail {
  flex: 1;
}

/* content-info */
.content-list__info-container {
  width: 100%;
  margin-top: 0.2em;
}

.content-list__info-unit {
  width: 100%;
  display: flex;
}

.content-list__info-unit:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.content__checkbox {
  margin: 0.6em 1.4em;
}

.content__checkbox--label {
  width: 100%;
  margin: 0.6em 0;
}

.content-list__info {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

.content__id {
  flex: 1;
}
.content__title {
  flex: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content__user-nickname {
  flex: 1;
}
.content__date-post {
  flex: 1.5;
}
.content__user-like {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content__user-views {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content__detail {
  flex: 1;
}
.detail-button {
  background-color: #262626;
  /*width: 55px;*/
  height: 28px;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

/*---------------------------------------------*/
.modal{
  font-family: Pretendard-Regular;
  background-color: black;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .4);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


.modal-wrapper{
  padding: 40px 32px;
  display: block;
  outline: none;
  background-color: #fff;
  border-radius: 8px;
  width: 600px;
  height: 740px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#modal-title{
  color: rgb(4, 5, 5);
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  /*display: block;*/
  margin-bottom: 25px;
  display: flex;
  position: relative;
}

#close-button{
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.input-info1{
  text-align: left;
  padding: 0 16px;
  border: 1px solid #e1e4e6;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 40px;
  color: #3c4144;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: .02em;
  margin-bottom: 10px;
  margin-top: 5px;
}


textarea{
  height: 150px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: Pretendard-Regular;
  letter-spacing: .02em;
  border: 1px solid #e1e4e6;
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 16px;
}

#modal-bottom{
  width: 100%;
  background-color: #2A7DE1;
  position: relative;
}

#edit-button1{
  /*background-color: #2A7DE1;*/
  background-color: #262626;
  width: 100%;
  height: 48px;
  padding: 0 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: .02em;
  font-weight: 600;
  color: #fff;
  border: none;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*position: relative;*/
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  /*left: 20px;*/
  z-index: 2;
  /*visibility: hidden;*/
}
#edit-button2{
  /*background-color: #2A7DE1;*/
  background-color: #262626;
  width: 100%;
  height: 48px;
  padding: 0 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: .02em;
  font-weight: 600;
  color: #fff;
  border: none;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  /*left: 20px;*/
  z-index: 1;
}

/*#edit-button{*/
/*    !*background-color: #d4e5f9;*!*/
/*    background-color: #1b5192;*/
/*    width: 30%;*/
/*    height: 48px;*/
/*    padding: 0 14px;*/
/*    border-radius: 8px;*/
/*    font-size: 16px;*/
/*    line-height: 25px;*/
/*    letter-spacing: .02em;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*    border: none;*/
/*    !*display: flex;*!*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    margin-top: 20px;*/

/*}*/

/*#delete-button{*/
/*    background-color: crimson;*/
/*    width: 30%;*/
/*    height: 48px;*/
/*    padding: 0 14px;*/
/*    border-radius: 8px;*/
/*    font-size: 16px;*/
/*    line-height: 25px;*/
/*    letter-spacing: .02em;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*    border: none;*/
/*    !*display: flex;*!*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    margin-top: 20px;*/
/*    right: -210px;*/
/*}*/

.delete-button{
  height: 30px;
  width: 76px;
  color: #262626;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.page-count code {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont,
  "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", arial, dotum,
  돋움, sans-serif;

  background-color: #262626;
  height: 20px;
  width: 12px;
  color: white;
  border-radius: 6px;
  font-weight: 550;
  font-size: 14px;
  line-height: 30px;
  padding: 0 7px;
  text-align: center;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
  margin-right: 3px;
}

.page-count a code{
  background-color: white;
  color: #262626;
}

.module-container {
  position: relative;
}

.position-ab {
  position: absolute;
  bottom: 126px;
  right: 694px;
}