/* main */
body{
  position: relative;
}
#background{
  position: relative;
}

.module-container {
  margin-left: 12.5vw;
  padding: 3.5rem 3rem;
  background-color: #fbfbfb;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "s s s s"
    "a a b b"
    "c c c c"
    "c c c c"
    "c c c c";
}

.module {
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.module--search {
  grid-area: s;
  display: flex;
  align-items: center;
}

.search__searchbox {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__searchbox__form {
  position: relative;
  display: flex;
  width: 100%;
}

#searchbox {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-left: 2em;
  font-size: 16px;
  line-height: 3em;
  background-color: #fff;
  color: #434343;
  border-radius: 16px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

#searchbox:hover,
#searchbox:focus {
  border: 2px solid #000;
}

.search__searchbox__button {
  position: absolute;
  top: 1.1em;
  right: 8%;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

.search__searchbox__button > img {
  width: 100%;
  height: 100%;
}

/* modules */
.module--user-summary {
  grid-area: a;
}

.module--user-controller {
  grid-area: b;
}

.module--user-list {
  grid-area: c;
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14.2px;
}

/* user-title */
.user-list__title-container {
  position: relative;
  width: 100%;
  /* padding: 0.6em 1.4em; */
}

.user-list__title-container::after {
  display: block;
  position: absolute;
  bottom: -0.2em;
  content: "";
  margin: 0 1.2em;
  width: calc(100% - 2.4em);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.user-list__title-unit {
  width: 100%;
  display: flex;
  font-weight: 600;
}

#title__checkbox {
  margin: 0.6em 1.4em 0.4em;
}

.user-list__title {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  margin: 0.6em 0 0.4em;
}

.title__id {
  flex: 1;
}
.title__name {
  flex: 1;
}
.title__email {
  flex: 2;
}
.title__phone {
  flex: 2;
}
.title__grade {
  flex: 1;
}
.title__detail {
  flex: 1;
}
/*.title__id {*/
/*  flex: 1.5;*/
/*}*/
/*.title__name {*/
/*  flex: 1.5;*/
/*}*/
/*.title__email {*/
/*  flex: 2.5;*/
/*}*/
/*.title__phone {*/
/*  flex: 2.5;*/
/*}*/
/*.title__grade {*/
/*  flex: 1.5;*/
/*}*/
/*.title__detail {*/
/*  flex: 1;*/
/*}*/

/* user-info */
.user-list__info-container {
  width: 100%;
  margin-top: 0.2em;
}

.user-list__info-unit {
  width: 100%;
  display: flex;
}

.user-list__info-unit:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.user__checkbox {
  margin: 0.6em 1.4em;
}

.user__checkbox--label {
  width: 100%;
  margin: 0.6em 0;
}

.user-list__info {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

/*.user__id {*/
/*  flex: 1.5;*/
/*}*/
/*.user__name {*/
/*  flex: 1.5;*/
/*}*/
/*.user__email {*/
/*  flex: 2.5;*/
/*}*/
/*.user__phone {*/
/*  flex: 2.5;*/
/*}*/
/*.user__grade {*/
/*  flex: 1.5;*/
/*}*/
/*.user__detail {*/
/*  flex: 1;*/
/*}*/
.user__id {
  flex: 1;
}
.user__name {
  flex: 1;
}
.user__email {
  flex: 2;
}
.user__phone {
  flex: 2;
}
.user__grade {
  flex: 1;
}
.user__detail {
  flex: 1;
}

.detail-button {
  background-color: #262626;
  width: 72px;
  height: 28px;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

/*.detail-button {*/
/*  height: 28px;*/
/*  color: #262626;*/
/*  border-radius: 6px;*/
/*  font-weight: 700;*/
/*  padding: 0 10px;*/
/*  font-size: 13px;*/
/*  line-height: 20px;*/
/*  cursor: pointer;*/
/*  border: 1.5px solid #eaeaea;*/
/*  background-color: #fff;*/
/*}*/

/*------------------------------------------------------------------*/
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.modal{
  font-family: Pretendard-Regular;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .4);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.modal-wrapper{
  padding: 40px 32px;
  display: block;
  outline: none;
  background-color: #fff;
  border-radius: 8px;
  width: 500px;
  height: 740px;
  /*height: 550px;*/
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#modal-title{
  color: rgb(4, 5, 5);
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  /*display: block;*/
  margin-bottom: 25px;
  display: flex;
  position: relative;
}

#close-button{
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.profile-wrapper{
  width: 100%;
  height: 150px;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.profile-image-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.profile-image{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 70%;
  border: 0.2px solid #888888;
  overflow: hidden;
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  /*box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;*/
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.input-wrapper{
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  text-align: left;
}

.input-text{
  width: 20%;

}

.user-input{
  text-align: left;
  padding: 0 16px;
  border: 1px solid #e1e4e6;
  border-radius: 4px;
  display: block;
  /*width: 100%;*/
  width: 100%;
  height: 40px;
  color: #3c4144;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: .02em;
  margin-bottom: 5px;
  margin-top: 5px;
}

#modal-bottom{
  width: 100%;
  background-color: #2A7DE1;
  position: relative;
}

#edit-button1{
  /*background-color: #2A7DE1;*/
  background-color: #262626;
  width: 100%;
  height: 48px;
  padding: 0 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: .02em;
  font-weight: 600;
  color: #fff;
  border: none;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*position: relative;*/
  position: absolute;
  cursor: pointer;
  margin-top: 5px;
  /*left: 20px;*/
  z-index: 2;
  /*visibility: hidden;*/
}
#edit-button2{
  /*background-color: #2A7DE1;*/
  background-color: #262626;
  width: 100%;
  height: 48px;
  padding: 0 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: .02em;
  font-weight: 600;
  color: #fff;
  border: none;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  margin-top: 5px;
  /*left: 20px;*/
  z-index: 1;
}

/*#secession-button{*/
/*    background-color: darkred;*/
/*    !*background-color: #e92525;*!*/
/*    !*background-color: crimson;*!*/
/*    width: 30%;*/
/*    height: 48px;*/
/*    padding: 0 14px;*/
/*    border-radius: 8px;*/
/*    font-size: 16px;*/
/*    line-height: 25px;*/
/*    letter-spacing: .02em;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*    border: none;*/
/*    !*display: flex;*!*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    margin-top: 30px;*/
/*    right: -195px;*/
/*    !*right: -175px;*!*/
/*}*/

.delete-button{
  height: 30px;
  width: 76px;
  color: #262626;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}