body{
    font-family: "Pretendard";
}
* {
    margin: 0;
}
li{
    list-style: none;
}

/* 메인 베너 */

.main-container{
    width: 90vw;
    margin: 68px auto;
    overflow: hidden;
    position: relative;
}

.main-banner{
    width: 720vw;
}

.main-banner div{
    width: 90vw;
    float: left;
}

div.arrow {
    position: absolute;
    font-size: 24px;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    top: 47%;
    display: none;
}

div.next {
    right: 10%;
}

div.prev {
    z-index: 1;
    left: 10%;
}

.btns{
    position: absolute;
    margin-left: 20%;
    bottom: 40px;
    z-index: 2;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 5px;
}

/* 게시물 베너 */

.board-container{
    margin: 140px 0 140px 0;
    position: relative;
}

.category{
    font-size: 30px;
    font-weight: 500;
    margin : 0 auto 40px auto;
    width: 1108px;
}

.board-arrow {
    position: absolute;
    font-size: 24px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    text-align: center;
    top: 55%;
}

.board-next {
    right: 18%;
}

.board-prev {
    z-index: 1;
    left: 18%;
}

.board{
    width: 1108px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.board-banner{
    width: 2264px;
}

.board-box{
    float: left;
    margin-right: 24px;
    width: 542px;
    cursor: pointer;
}

.board-group{
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: 1.5px;
    border-color: #eaecee;
    padding: 18px 20px 16px;
}

.tag-group{
    margin-bottom: 6px;
}

.tag{
    font-size: 10px;
    height: 16px;
    padding: 1.5px 4px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
}

.tag-group .tag:first-child{
    background: #d4e5f9;
    color: #2a7de1;
}

.tag-group .tag:not(:first-child){
    background: #f3f4f5;
    color: #595f63;
}

.title{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}

.content{
    font-size: 16px;
    font-weight: 400;
    min-height: 72px;
    margin-bottom: 16px;
}

.rating-group{
    display: flex;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: rgb(234 236 238);
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.rating-icon-group{
    display: flex;
    margin-right: 12px;
    font-size: 14px;
}

.rating-icon-group p:first-child{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.rating-reply{
    color: rgb(42 125 225);
}

.rating-like{
    color: rgb(233 37 37);
}

.reply-box{
    height: 150px;
}

.reply-group{
    display: flex;
    height: 61px;
    margin-bottom: 16px;
}

.reply-img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #2a7de1;
}

.reply-detail-group{
    width: 452px;
}

.reply-userName{
    height: 20px;
    font-size: 14px;
    font-weight: 600;
}

.reply-content{
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(60 65 68);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.more{
    color: rgb(110, 167, 235);
    height: 28px;
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}