<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediqal.community.mapper.BoardMapper">

<!--  프로필  -->
    <select id="profileSelectAll" resultType="boardDTO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE,
        (SELECT COUNT(LIKE_NUMBER) FROM TBL_LIKE L WHERE L.BOARD_NUMBER = B.BOARD_NUMBER) AS LIKE_COUNT,
        (SELECT COUNT(REPLY_NUMBER) FROM TBL_REPLY P WHERE P.BOARD_NUMBER = B.BOARD_NUMBER) AS REPLY_COUNT
        FROM
        (
            SELECT ROWNUM R, BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE
            FROM
            (
                SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, TO_CHAR( BOARD_REGISTER_DATE,'YYYY-MM-DD') AS BOARD_REGISTER_DATE
                FROM TBL_BOARD
                WHERE USER_NUMBER = #{userNumber} AND BOARD_CATEGORY = #{boardCategory} ORDER BY BOARD_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) B WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="profileSelect" resultType="boardVO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT
        FROM TBL_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>

    <update id="profileUpdate">
        UPDATE TBL_BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_UPDATE_DATE = SYSDATE
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <select id="profileGetTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD WHERE USER_NUMBER = #{userNumber} AND BOARD_CATEGORY = #{boardCategory}
    </select>

    <select id="profileGetLikeTotal" resultType="_int">
        SELECT NVL(SUM(LIKE_COUNT),0)
        FROM
        (
            SELECT (SELECT COUNT(LIKE_NUMBER) FROM TBL_LIKE L WHERE L.BOARD_NUMBER = B.BOARD_NUMBER) AS LIKE_COUNT
			FROM
			(
			    SELECT BOARD_NUMBER
				FROM TBL_BOARD
				WHERE USER_NUMBER = #{userNumber} AND BOARD_CATEGORY = #{boardCategory}
			) B
		)

    </select>

<!-- 프로필 끝 -->

    <select id="adminSelectTest" resultType="boardDTO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_VIEW,
        (SELECT USER_NICKNAME FROM TBL_USER U WHERE U.USER_NUMBER = B.USER_NUMBER) AS USER_NICKNAME,
        (SELECT COUNT(LIKE_NUMBER) FROM TBL_LIKE P WHERE P.BOARD_NUMBER = B.BOARD_NUMBER) AS LIKE_COUNT
        FROM
        (
            SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_VIEW, USER_NUMBER
            FROM TBL_BOARD
            WHERE BOARD_NUMBER = #{boardNumber}
            ) B
    </select>

    <select id="adminSelectAll" resultType="boardDTO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_REGISTER_DATE, BOARD_CONTENT, BOARD_VIEW,
        (SELECT USER_NICKNAME FROM TBL_USER U WHERE U.USER_NUMBER = B.USER_NUMBER) AS USER_NICKNAME,
        (SELECT COUNT(LIKE_NUMBER) FROM TBL_LIKE P WHERE P.BOARD_NUMBER = B.BOARD_NUMBER) AS LIKE_COUNT
        FROM
        (
            SELECT ROWNUM R, BOARD_NUMBER, BOARD_TITLE, BOARD_REGISTER_DATE, BOARD_CONTENT, BOARD_VIEW ,USER_NUMBER
            FROM
            (
                SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_REGISTER_DATE, BOARD_CONTENT, BOARD_VIEW, USER_NUMBER
                FROM TBL_BOARD
                WHERE BOARD_CATEGORY = #{boardCategory} ORDER BY BOARD_NUMBER
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) B WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="adminGetTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD WHERE BOARD_CATEGORY = #{boardCategory}
    </select>

    <delete id="delete">
        DELETE FROM TBL_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <update id="update">
        UPDATE TBL_BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <select id="selectAll" resultType="boardDTO">
        SELECT BOARD_NUMBER, USER_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_CATEGORY, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEW
        FROM
            (
                SELECT ROWNUM R, BOARD_NUMBER, USER_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_CATEGORY, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEW
                FROM
                    (
                        SELECT BOARD_NUMBER, USER_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_CATEGORY, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEW
                        FROM TBL_BOARD B
                        ORDER BY BOARD_NUMBER DESC
                    ) D2
        <![CDATA[
                WHERE ROWNUM <= #{page} * #{amount}
            ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD
    </select>

    <insert id="insert">
        <selectKey keyProperty="boardNumber" order="BEFORE" resultType="long">
            SELECT SEQ_BOARD.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_BOARD(BOARD_NUMBER, USER_NUMBER, BOARD_TITLE, BOARD_CONTENT)
        VALUES(#{boardNumber}, #{userNumber}, #{boardTitle}, #{boardContent})
    </insert>
</mapper>