<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediqal.community.mapper.ReplyMapper">
    <select id="selectAll" resultType="replyDTO">
        SELECT REPLY_NUMBER, BOARD_NUMBER, REPLY_CONTENT, USER_NUMBER, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE
        FROM TBL_REPLY
        WHERE BOARD_NUMBER = #{boardNumber}
        ORDER BY REPLY_NUMBER DESC
    </select>

    <insert id="insert">
        <selectKey keyProperty="replyNumber" order="BEFORE" resultType="long">
            SELECT SEQ_REPLY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPLY(REPLY_NUMBER, BOARD_NUMBER, REPLY_CONTENT, USER_NUMBER)
        VALUES(#{replyNumber}, #{boardNumber}, #{replyContent}, #{userNumber})
    </insert>

    <select id="countALL" resultType="_int">
        SELECT COUNT(REPLY_NUMBER) FROM TBL_REPLY WHERE BOARD_NUMBER = #{boardNumber}
    </select>
</mapper>