<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediqal.community.mapper.UserImgMapper">
    <insert id="insertUserImg">
        INSERT INTO TBL_USER_IMG (USER_IMG_NUMBER, USER_NUMBER, USER_IMG_IMAGE_CHECK)
        VALUES (SEQ_USER_IMG.NEXTVAL, #{userNumber}, #{userImgImageCheck})
    </insert>

    <insert id="insert">
        INSERT INTO TBL_FILE(FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_IMAGE_CHECK, FILE_SIZE, BOARD_NUMBER)
        VALUES(SEQ_FILE.NEXTVAL, #{fileName}, #{fileUploadPath}, #{fileUuid}, #{fileImageCheck}, #{fileSize}, #{boardNumber})
    </insert>

    <update id="update">
        UPDATE TBL_USER_IMG
        SET USER_IMG_NAME = #{userImgName, jdbcType=VARCHAR}, USER_IMG_UPLOAD_PATH = #{userImgUploadPath, jdbcType=VARCHAR}, USER_IMG_UUID = #{userImgUuid, jdbcType=VARCHAR},
        USER_IMG_IMAGE_CHECK = #{userImgImageCheck, jdbcType=CHAR}, USER_IMG_SIZE = #{userImgSize, jdbcType=VARCHAR}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <delete id="delete">
        DELETE FROM TBL_USER_IMG
        WHERE USER_NUMBER = #{userNumber}
    </delete>

    <select id="select" resultType="userImgVO">
        SELECT USER_IMG_NUMBER, USER_IMG_NAME, USER_IMG_UPLOAD_PATH, USER_IMG_UUID, USER_IMG_IMAGE_CHECK, USER_IMG_SIZE, USER_NUMBER
        FROM TBL_USER_IMG
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="adminSelect" resultType="userImgVO">
        SELECT USER_IMG_NUMBER, USER_NUMBER, USER_IMG_NAME, USER_IMG_UPLOAD_PATH, USER_IMG_UUID, USER_IMG_IMAGE_CHECK, USER_IMG_SIZE
        FROM TBL_USER_IMG
        WHERE USER_NUMBER = #{userNumber}
    </select>
</mapper>